/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  
  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    height: 100%;
    width: 100%;
  }
  html{
    height: 100%;
    width: 100%;
  }
  
  /* 6. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 7. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    10. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /*end of reset*/

  .header{
    display: flex;
    justify-content: space-around;
  }
  .scoreboard{
    background-color: rgb(85, 83, 83);
    width: 20%;
  }
  .player1, .player2{
    width: 40%;
  }
  .player1, .p1Banner{
    background-color: rgb(65, 65, 219);

  }
  .player2, .p2Banner{
    background-color: rgb(219, 65, 65);
  }
  .gameContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  .p1Banner, .p2Banner{
    width: 10%;
    height: 100%;
  }

